@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {

  font-family: 'SeoulHangangM', sans-serif;
  background-color: #f9f9f9;
  color: #333;

  * 393px보다 화면이 작은 경우 */
  @media screen and (max-width: 393px) {
    body {
      width: 100%; /* 화면 너비에 맞춤 */
      margin: 0 auto;
    }
  }

  /* 393px보다 화면이 큰 경우 */
  @media screen and (min-width: 393px) {
    body {
      width: 393px; /* 화면 너비를 393px로 고정 */
      margin: 0 auto; /* 화면 중앙에 위치 */
    }
  }

}